
  /*Đây là tintuc */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
  }
  body{
    font-family: 'Roboto';
  }
  .wrap-tituc{
      margin-bottom: 30px;
  }
  #big-news{
      text-decoration: none;
  }
  .arrow{
     color: rgba(136, 116, 107, 0.8);
     margin-bottom:30px;
  }
  #bigtitle-tintuc{
     font-weight: 700;
     font-size: 32px;
     margin-bottom: 30px;
  }
  .arrow span{
      color: #e96005;
  }
  #bigpic{
      width: 540px;
      height: 360px;
  }
  .contentbig{
      border-top:3px solid #b21116; 
      color:#545454;
      margin-bottom:5px;
      font-weight: 700;
      font-size:18px;
      font-family: 'Roboto';
      text-transform: uppercase;
  }
  .contentbig p{
    margin-top: 10px;
}
  .contentbig:hover{
      color:#eb991b;
  }
  .datetime{
      font-size: 13px;
      color:#999;
  }
  
  #sm-link{
      display: flex;
      text-decoration: none;
      color:#000;
  }
  .sm-news{
      display: flex;
  }
  #smpic{
      width: 150px;
      height: 120px;
      margin:0 15px 15px 15px;
  }
  #textsmpic{
      text-transform: uppercase;
      font-size: 17px;
      font-family: 'Roboto';
      font-weight: 500;
      margin-right:5px ;
  }
  #sm-link:hover{
      color:#eb991b;
  }
  .button-sm{
      padding-left:250px;
  }
  #button-sm{
      border:2px solid #b21116;
      font-weight: 400;
      text-transform: uppercase;
      color:#b21116;
      text-decoration: none;
      padding: 5px 25px;
      border-radius: 20px;
  }
  #button-sm:hover{
      color:#fff;
      background: #eb991b;
  }
  